name: Node.js CI

on: push

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: '16.3.0'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn format:check

  test-and-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 17.x]

    steps:
      - uses: actions/checkout@v2
      - run: git config --global user.name github-actions
      - run: git config --global user.email github-actions@github.com
      - run: git config --global init.defaultBranch master
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - run: git branch
      - run: yarn test:ci
      - run: yarn build

  deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test-and-build

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: '16.3.0'
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn release
