# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: [push, pull_request]
jobs:
  test_pr:
    if: github.event_name == 'pull_request'
    name: Test PR (Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [ 14, 24 ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Fetch deps
        run: yarn

      - if: matrix.node-version == '14'
        run: yarn add semantic-release@19 --ignore-engines --no-lockfile

      - name: Run tests
        env:
          NPM_CONFIG_LOGLEVEL: silent
          NPM_CONFIG_FUND: false
          NPM_CONFIG_AUDIT: false
          NPM_CONFIG_UPDATE_NOTIFIER: false
        # Workaround like TRAVIS_PULL_REQUEST_BRANCH=master
        run: |
          git branch master
          yarn test

  release:
    name: Release
    # https://github.community/t/trigger-job-on-tag-push-only/18076
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Fetch deps
        run: yarn

      - name: Semantic Release
        run: npx semantic-release -b master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
#          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
#          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
#          GIT_COMMITTER_NAME: ${{ secrets.GIT_COMMITTER_NAME }}
#          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
